* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
}

/* ALERT */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    border-radius: 5px;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }

  .alert_login {
    padding: 20px;
    background-color: rgb(92, 214, 92); 
    color: white;
    border-radius: 5px;
  }