@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    transition: all .2s ease-out;
    text-transform: capitalize;
    outline: none;
    border: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section {
    padding: 2rem 9%;
}

:root {
    --green: #16a085;
    --black: #444;
    --light-color: #777;
    --box-shadow: .5rem .5rem 0 rgba(22, 160, 133, .2);
    --text-shadow: .4rem .4rem 0 rgba(0, 0, 0, .2);
    --border: .2rem solid var(--blue);
    --blue: #55aaff;
}

body {
    background: #fefefe;
}

header {
    width: 100%;
    height: 80px;
    background: #2093c3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #fefefe;
}

.hamburger {
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: #fefefe;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover {
    color: #2093c3;
    background: #fefefe;
}

.nav-bar ul li a.active {
    color: #2093c3;
    background: #fefefe;
}

/* media */
@media only screen and (max-width: 1320px) {
    header {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1100px) {
    header {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 900px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin: 6px 0;
    }

    .nav-bar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #2093c3;
        transition: 0.5s;
        overflow: hidden;
    }

    .nav-bar.active {
        height: 450px;
        z-index: 50;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 50px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
    }


}

.img-container {
    box-shadow: 5px 5px 7px rgba(0,0,0,0.3);
    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;
    display: flex;

}

@media only screen and (max-width: 1300px) {
    .img-container {
      width: 120vw;
    }
    .img-container img {
        width: 120vw;
        object-fit: cover;
      }

  }

.img-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 100%;
}

.img-text {
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
}

.img-text p {
    padding-top: 3%;
}

.readmore {
    margin-top: 5%;
    border-radius: 20px;
    width: 30%;
    padding: 2%;
    cursor: pointer;
    background: #55aaff;
    border: none;
    color: #fefefe;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.7);
}

.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    font-size: 1.5rem;
}

.card1 {
    background-color:#2093c3;
    padding: 3%;
    color: #fefefe;
}

.card2 {

    padding: 3%;
    color: #fefefe;
    background-color:#44b0ac;
}

.card3 {
    background-color:#3bbdc2;
    padding: 3%;
    color: #fefefe;
}

.card4 {
    background-color:#65c9d4;
    padding: 3%;
    color: #fefefe;
}

.card1 p {
    padding-top: 2%;
}

.card2 p {
    padding-top: 2%;
}

.card3 p {
    padding-top: 2%;
}

.card4 p {
    padding-top: 2%;
}

/* ABOUT US */

.about .about_row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
}

.about .about_row .about_image {
    flex: 1 1 45rem;
}

.about .about_row .about_image img{
    width: 100%;
}

.about .about_row .about_content {
    flex: 1 1 45rem;
}

.about .about_row .about_content h3{
    color: var(--black);
    text-shadow: var(--text-shadow);
    font-size: 4rem;
    line-height: 1.8;
}

.about .about_row .about_content p{
    color: var(--light-color);
    padding: 1rem 0;
    font-size: 2.5rem;
    line-height: 1.8;
}

/* buttons start */

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem;
    padding-left: 1rem;
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    color: var(--blue);
    cursor: pointer;
    font-size: 1.7rem;
}

.btn span {
    padding: .7rem 1rem;
    border-radius: .5rem;
    background: var(--blue);
    color: #fff;
    margin-left: .5rem;
}

.btn:hover {
    background: var(--blue);
    color: #fff;

}

.btn:hover span {
    background-color: #fff;
    color: var(--blue);
    margin-left: 1rem;
}

/* buttons end */

.heading {
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    color: var(--black);
    font-size: 5rem;
    letter-spacing: .4rem;
}

.heading span {
    text-transform: uppercase;
    color: var(--blue);
}

/* FOOTER */

.footer {
    background-color: #101010;
    color: #fefefe;
    width: 100%;
    height: 450px;
    position: relative;
}

.all_rights_reserved {
    background-color: #202020;
    padding: 1%;
    width: 70%;
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
}

.footer_logo {
    position: absolute;
    bottom: 15%;
    left: 15%;
    width: 25%;
    font-size: 18px;
}

.footer_logo img {
    width: 100%;
}

.under_logo {
    position: absolute;
    left: 17%;
    font-size: 18px;
    width: 22%;
    bottom: 35%;
}

.quick_links {
    position: absolute;
    right: 15%;
    bottom: 30%;
    font-size: 18px;
    color: #fefefe;
    width: 10%;
    right: 40%;
}

.quick_links h3{
    padding: 5%;

}

.quick_line a {
    color: #7e7e7e;
}

.quick_links li {
    padding: 5%;
}

.quick_links a.text:active {
    color: #7e7e7e;
}

.contact_info {
    position: absolute;
    right: 23%;
    bottom: 30%;
    font-size: 18px;
    width: 10%;
}

.contact_info h3 {
    padding: 5%;
}

.contact_info li {
    padding: 5%;
}

/* Appointment form */

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
}

label,
input,
select,
textarea {
    display: block;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    font-size: 16px;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.success-msg {
    font-size: 15px;
    padding-bottom: 5px;
    color: #2ec20a;
}