@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    background: #fefefe;
}

header {
    width: 100%;
    height: 80px;
    background: #2093c3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #fefefe;
}

.hamburger {
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: #fefefe;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover {
    color: #2093c3;
    background: #fefefe;
}

.nav-bar ul li a.active {
    color: #2093c3;
    background: #fefefe;
}

/* media */
@media only screen and (max-width: 1320px) {
    header {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1100px) {
    header {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 900px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin: 6px 0;
    }

    .nav-bar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #2093c3;
        transition: 0.5s;
        overflow: hidden;
    }

    .nav-bar.active {
        height: 450px;
        z-index: 50;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 50px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
    }
        
    
}

.img-container {
    box-shadow: 5px 5px 7px rgba(0,0,0,0.3);
    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;
    display: flex;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.img-text {
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);

}

.img-text p {
    padding-top: 3%;
}

.readmore {
    margin-top: 5%;
    border-radius: 20px;
    width: 30%;
    padding: 2%;
    cursor: pointer;
    background: #55aaff;
    border: none;
    color: #fefefe;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.7);
}

.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card1 {
    background-color:#2093c3;
    padding: 3%;
    color: #fefefe;
}

.card2 {
    
    padding: 3%;
    color: #fefefe;
    background-color:#44b0ac;
}

.card3 {
    background-color:#3bbdc2;
    padding: 3%;
    color: #fefefe;
}

.card4 {
    background-color:#65c9d4;
    padding: 3%;
    color: #fefefe;
}

.card1 p {
    padding-top: 2%;
}

.card2 p {
    padding-top: 2%;
}

.card3 p {
    padding-top: 2%;
}

.card4 p {
    padding-top: 2%;
}
